C:\Users\Cleah\Documents\Projects\GymCam2022\gymcam\Videos
C:\Users\Cleah\Documents\Projects\GymCam2022\gymcam\cartwheel_long.mp4
C:\Users\Cleah\Documents\Projects\GymCam2022\gymcam\mixed_long.mp4
C:\Users\Cleah\Documents\Projects\GymCam2022\gymcam\two_cartwheel_1.mp4
C:\Users\Cleah\Documents\Projects\GymCam2022\gymcam\two_cartwheel_2.mp4
C:\Users\Cleah\Documents\Projects\GymCam2022\gymcam\two_handstand_2.mp4
C:\Users\Cleah\Documents\Projects\GymCam2022\gymcam\two_handstand_10sec.mp4